*{
    margin: 0px;
    padding: 0px;
   
}
body{
    background-color: #d8e2dc;
}
.nav-right{
    margin-left: 69%;
}

.frontPage{
    margin-top: 6rem;

}

.text-Area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-color{
    background-color: #cad2c5;
}
.col a{
    width: 10px;
}
.form-section{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.form-section form{
width: 50%; background-color: rgb(151, 151, 201);
padding: 2% 5%;
border-radius: 2rem;
}
#feedback{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

footer{
    background-color: #22333b;
    border-top: 2px solid wheat;
    color: azure;
    text-align: center;
}
.links{
    font-size: 17px;
    height: 8rem;
    text-align: center;
    padding-top: 3rem;
}
.links a{
    margin: 0rem 1.6rem;
    color: #cad2c5;
    text-decoration: none;
    font-weight: 600;
    border: 0.5px solid #021a24;
    padding: 3.5px 10px;
    border-radius: 5px;
}
.links a:hover{
    text-decoration: underline;
    color: #000000;
}